:root {
    --padding: 16px;
  }
  
  details {
    padding: 0 var(--padding);
    border-radius: 10px;
    margin-top:1.5rem;
    background-image: linear-gradient(to bottom right, seashell, #D7E1EC);
  }
  details[open] {
    padding-bottom: var(--padding);
  }
  
  details > summary {
    display: flex;
    padding: var(--padding);
    margin: 0 calc(var(--padding) * -1);
    border-radius: 10px;
    font-size:1rem;
    font-weight: 600;
    font-family: Inter, sans-serif !important;
    cursor: pointer;
    justify-content: space-between;
    list-style: none; /* Hides the default arrow */
  }
  details[open] > summary {
    
  }
  /* Adds an icon when the content is closed... */
  details > summary::after {
    content: "+";
  }
  /* ...and switches it when it is open */
  details[open] > summary::after {
    content: "-";
  }
  /* Removes the ugly default arrow on Chrome */
  details > summary::-webkit-details-marker {
    display: none;
  }
    details p{

        color: gray;

    }