


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: #dcdcdc;
  /* position: fixed;
  top: 0;  
  width: 100%; */
}


.trrr{
border: 2px solid green;

}
.tst {
  font-family: Inter, sans-serif !important;
  font-weight: 700;
  font-size: 1.9vw;
  margin-top: 0.2em;
  color: black;
  
}

.tst:after {
  content: attr(data-text);
  color: rgb(46, 125, 50, 255);
}

nav .divbox {
  margin-left: 29.5em;
  

}

nav a {
  margin: 0 1rem;
  font-family: Inter,sans-serif!important;
  font-weight:600;
  font-size:1.25vw;
  text-decoration: none;
  color: gray;
}
nav .abb{
  font-weight:600;
  font-size:1.24vw;
  text-decoration: none;
  color: white;
  padding: 0.6em 1em;
  border-radius: 10px;
  /* background-image: linear-gradient(to bottom right,rgb(46,125,56); */
  background-color: rgb(46, 125, 50, 255);
}

nav a:hover {
 text-decoration: none;
 color: black;

}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
  font-size: 1.6rem;
}

header div,
nav {
  display: flex;
  align-items: center;
}

a:hover{
  text-decoration: none;
  
}

@media only screen and (max-width: 1024px) {

  header{
    padding: 0px 12px;
  }
.tst{
  font-family: Inter, sans-serif !important;
  font-weight: 600;
  font-size:1.5rem;
  margin-top: 0.05em;

}

  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height:22.2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, seashell, #d7e1ec);
    transition: 1s;
  }

  nav .divbox {

    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    gap: 1rem;
    margin-top: 1rem;
    margin-left: 0px;

  }

  header .responsive_nav {
    transform: translateY(107vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 1rem;
    right: 2rem;
  }

  nav a {
    font-family: Inter,sans-serif!important;
    font-weight: 500;
    font-size: 1rem;
    color:black;
  }

  
nav .abb{
  font-weight:500;
  font-size:1.1em;
  text-decoration: none;
  color: gray;
  border: none;
  padding:0px;
  border-radius: 0px;
  background:none;
}

} 


